body
{
    background-color: #DDD4C3;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

#display
{
    width: 300px;
    height: 100px;
    background-color: #CA6F6F;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#display-text
{
    font-size: 35px;
    font-weight: bold;
    padding-right: 10px;
}